.radio{
    display: flex;
    margin-top: 10px
}
.scale{
    display: flex;
    margin-left: 10px
}
.scale p {
    margin-right: 4px;
    font-size: 14px;
    font-weight: bold;
}
.slider{
    width: 100%;
}
.MuiSlider-mark{
    width:10px;
    height:10px;
    border-radius: 5px;
}